# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [18]:
import pandas as pd

# load dataset
customer_df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
# customer_df.head(25)

- Column names should be in lower case
- White spaces in column names should be replaced by _
- st could be replaced for state

In [21]:
# column names to lower case
customer_df.columns = [x.lower() for x in customer_df.columns]

# replace white spaces
customer_df.columns = [x.replace(" ", "_") for x in customer_df.columns]

# replace 'st' for 'state'
customer_df = customer_df.rename(columns={"st": "state"})

customer_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [25]:
# gender columns - add consistency
customer_df['gender'] = customer_df['gender'].replace({
    "Male" : "M",
    "Femal" : "F",
    "female" : "F"
})

# gender_summary = customer_df['gender'].value_counts()
# print("\ngender column value counts:")
# print(gender_summary)

# state abbreviations to full name
customer_df['state'] = customer_df['state'].replace({
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington"
})

# state_summary = customer_df['state'].value_counts()
# print("\nstate column value counts:")
# print(state_summary)

# replace 'bachelors' by 'bachelor'
customer_df['education'] = customer_df['education'].replace({"Bachelors" : "Bachelor"})

# remove % char in customer_lifetime
customer_df['customer_lifetime_value'] = customer_df['customer_lifetime_value'].str.replace("%", "")

# replace "Sports Car", "Luxury SUV" and "Luxury Car"  by "Luxury"
customer_df['vehicle_class'] = customer_df['vehicle_class'].replace({
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
})

customer_df.head(100)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
95,TV87155,Oregon,NaN,Bachelor,2094619.25,69738.0,74.0,1/1/00,Personal Auto,Four-Door Car,492.127532
96,KH48895,Arizona,NaN,Master,837535.39,17780.0,109.0,1/0/00,Personal Auto,SUV,132.588288
97,NZ30757,California,NaN,Bachelor,480166.15,18107.0,62.0,1/0/00,Personal Auto,Four-Door Car,297.600000
98,RI22468,Arizona,NaN,Bachelor,574594.33,57740.0,74.0,1/3/00,Personal Auto,Four-Door Car,269.905129
99,FZ30935,Oregon,NaN,College,606611.60,32627.0,76.0,1/0/00,Personal Auto,Two-Door Car,380.036697

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [31]:
# check data types
# print("Data types:\n")
# print(customer_df.dtypes)

# customer_lifetime converted to numeric vals
customer_df['customer_lifetime_value'] = pd.to_numeric(customer_df['customer_lifetime_value'])
print(customer_df['customer_lifetime_value'].dtype)

customer_df.tail(50)
print("new data types:\n", customer_df.dtypes)

float64
new data types:
 customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [33]:
# Check unique values in the 'Number of open complaints' column
# Replace 'Number of open complaints' with the correct column name from the output
unique_complaints = customer_df['number_of_open_complaints'].unique()
print(unique_complaints)

# Function to extract the middle value from the complaints
def extract_middle_value(complaint_str):
    if isinstance(complaint_str, str):  # Check if the input is a string
        parts = complaint_str.split('/')
        return parts[1] if len(parts) > 1 else complaint_str
    return None  # Return None for non-string types

# Apply the function and convert to numeric
customer_df['number_of_open_complaints'] = customer_df['number_of_open_complaints'].apply(extract_middle_value)
customer_df['number_of_open_complaints'] = pd.to_numeric(customer_df['number_of_open_complaints'], errors='coerce')

# Display the cleaned dataframe
print(customer_df.head())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0      0.0                1000.0                        0.0   Personal Auto
1      0.0                  94.0                        0.0   Personal Auto
2  48767.0                 108.0                        0.0   Personal Auto
3      0.0                 106.0                        0.0  Corporate Auto
4  36357.0                  68.0                        0.0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [87]:
# identify columns with null or missing values
null_columns = customer_df.isnull()
print("Columns with null or empty values:")
print(null_columns.columns)

# how many null values does each column have
def null_value_count():
    for col in null_columns:
        print(f"Null values in '{col}' column:",customer_df['customer'].isnull().sum())

null_value_count()

# replace empty values with 'Unknown'
def fill_null_values():
    for col in null_columns:
        print(f"Filling null values in column '{col}'")
        customer_df[col] = customer_df[col].fillna('Unknown')
    return customer_df

# unknown value count
def count_filled_values():
    value_to_count = 'Unknown'
    for column in customer_df.columns:
        count = customer_df[column].value_counts().get(value_to_count, 0)
        print(f"Amount of '{value_to_count}' values in column '{column}': {count}")
    return customer_df

fill_null_values()
count_filled_values()

print("Filled Customer DataFrame:")
print(customer_df.head())

Columns with null or empty values:
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Null values in 'customer' column: 0
Null values in 'state' column: 0
Null values in 'gender' column: 0
Null values in 'education' column: 0
Null values in 'customer_lifetime_value' column: 0
Null values in 'income' column: 0
Null values in 'monthly_premium_auto' column: 0
Null values in 'number_of_open_complaints' column: 0
Null values in 'policy_type' column: 0
Null values in 'vehicle_class' column: 0
Null values in 'total_claim_amount' column: 0
Filling null values in column 'customer'
Filling null values in column 'state'
Filling null values in column 'gender'
Filling null values in column 'education'
Filling null values in column 'customer_lifetime_value'
Filling null values in column 'income'
Filling null values in column 'monthly_premium_auto'
Filling null values in column 'number_of_open_complaints'
Filling null values in column 'policy_type'
Filling null values in column 'vehicle_class'
Filling null values in column 'total_claim_amount'
Columns with null or empty values, round 2:
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Filled Customer DataFrame:
  customer       state   gender             education customer_lifetime_value  \
0  RB50392  Washington  Unknown                Master                 Unknown
1  QZ44356     Arizona        F              Bachelor               697953.59
2  AI49188      Nevada        F              Bachelor              1288743.17
3  WW63253  California        M              Bachelor               764586.18
4  GA49547  Washington        M  High School or Below               536307.65

    income monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0               1000.0                       0.0   Personal Auto
1      0.0                 94.0                       0.0   Personal Auto
2  48767.0                108.0                       0.0   Personal Auto
3      0.0                106.0                       0.0  Corporate Auto
4  36357.0                 68.0                       0.0   Personal Auto

   vehicle_class total_claim_amount
0  Four-Door Car           2.704934
1  Four-Door Car        1131.464935
2   Two-Door Car         566.472247
3            SUV         529.881344
4  Four-Door Car          17.269323

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [105]:
# indentify duplicate rows
duplicate_rows = customer_df.duplicated()

# total count of duplicate rows
total_duplicates = duplicate_rows.sum()
print(f"Total number of duplicate rows (before cleaning): {total_duplicates}")

# count duplicate values in every column
def duplicate_row_count(df):
    for column in df.columns:
        duplicate_count = df[column].duplicated().sum()
        # print(f"Duplicate values in '{column}' column: {duplicate_count}")

duplicate_row_count(customer_df)

# strategy for handling the duplicates
df_cleaned = customer_df.drop_duplicates(keep='first')  # drop duplicates, keep first occurrence
df_cleaned.reset_index(drop=True, inplace=True) # reset index

# check again
print("Duplicate rows after cleaning:")
print(df_cleaned.duplicated().sum)

Total number of duplicate rows (before cleaning): 2936
Duplicate rows after cleaning:
<bound method Series.sum of 0       False
1       False
2       False
3       False
4       False
        ...
1067    False
1068    False
1069    False
1070    False
1071    False
Length: 1072, dtype: bool>

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here